<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<localRepository>${user.home}/.m2/repository</localRepository>

<servers>
    <!-- Maven Central staging server (Sonatype Nexus) -->
    <server>
        <id>ossrh</id>
        <username>nithinsudarsan</username>
        <password>@N1i2t3h4i5n6</password>
    </server>

</servers>

<mirrors>
    <!-- Define any custom mirrors here if needed -->
</mirrors>

<profiles>
    <profile>
        <id>gpg</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
            <gpg.executable>gpg</gpg.executable>
            <gpg.keyname>0F139EF6F3993BD79F9D5219D6C7CC9D648C1E4C</gpg.keyname>
            <gpg.passphraseServerId>Nithin@123</gpg.passphraseServerId>
        </properties>
    </profile>
</profiles>

<activeProfiles>
    <activeProfile>gpg</activeProfile>
</activeProfiles>
</settings>
